<div class="content">
  <ngx-charts-line-chart 
    [view]="view"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="data"
    [legendPosition]="legendPosition"
    [autoScale]="autoScale"
    [referenceLines]="referenceLine"
    [showRefLines]="true"
  ></ngx-charts-line-chart>
  <form [formGroup]="settingsForm">
    <span><input formControlName="autoScale" type="checkbox">Авто масштабирование графиков</span>
    <button class="btn" (click)="addRefLine()">Добавить линейку на график</button>
    <div formArrayName="refLines">
      <div class="ref-lines" *ngFor="let i=index of refLines.controls" >
        <div class="validation" *ngIf="!isRuleValid(i)">Введите число</div>
        <input class="form-control" type="text" formControlName="{{i}}">
        <span (click)="deleteRefLine(i)">X</span>
      </div>
    </div>
  </form>
</div>
